parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - message: '#Function config_path not found#'
        - message: '#Call to an undefined method phpseclib3\\Crypt\\Common\\PrivateKey\|phpseclib3\\Crypt\\Common\\PublicKey::withHash\(\)#'
        - message: '#Call to an undefined method phpseclib3\\Crypt\\Common\\PublicKey::withHash\(\)#'
